@font-face {
  font-family: 'Written';
  src: url(../fonts/Sacramento-Regular.ttf) format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.8);
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.title {
  font-family: 'Written';
}

.text {
  padding: 0 20%;
}

h3.title {
  text-align: right;
}

.box {
	position: absolute;
	width: 450px;
	height: 450px;
}

.box::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, black, transparent);
	opacity: 0.05;
	transform: rotate(45deg);
	transform-origin: left;
}

.box .circle {
	width: 100%;
	height: 100%;
	position: relative;
	background: linear-gradient(135deg, #fff, #e4e3e8);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	z-index: 1;
  transition: .4s linear;
}

.box .circle:hover {
  box-shadow: 0 0 5px #4d85e086, 0 0 25px #4d85e086, 0 0 50px #4d85e086,
		0 0 200px #4d85e086;
}

.box .circle::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background: linear-gradient(315deg, #fff, #e4e3e8);
	border-radius: 50%;
}

.box .circle h1 {
	position: absolute;
	z-index: 2;
	font-size: 4.5em;
	text-align: center;
	color: #4d86e0;
	font-weight: 900;
}

section i {
	position: absolute;
	background: #4d86e0;
	border-radius: 100%;
	animation: animate 10s ease infinite;
}

section i:nth-child(even) {
	background: transparent;
	border: 1px solid #4d86e0;
}

@keyframes animate {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		transform: translateY(-2000%);
	}
}
